.headers-container{
    display:flex;
    flex-direction:column;
}
.header{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-top: 2px;
    padding-bottom: 5px;
    background-color: rgb(33, 33, 33);
    border-bottom-style: solid;
    border-bottom-color: rgb(51, 51, 51);
    border-bottom-width: 1px;
    
    position:fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 100;
    
   }
   .header-right{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    align-items: center;
    padding-left: 25px;
    padding-top: 10px;
   }
   .header-middle{
    display: flex;
    flex-direction: row;
    
    
   }
   .header-left{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    margin-right: 24px;
    padding-top: 10px;
   }
   .hamburger-menu{
    height: 19px;
    width: 19px;
    cursor: pointer;
   }
   .youtube-logo{
    height: 22px;
    width: 95px;
    cursor: pointer;
   }
   .searchbar{
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(51, 51, 51);
    height: 37px;
    width: 530px;
    padding-left: 8px;
    font-size: 15px;
    color: white;
   }
   .searchbar::placeholder{
    font-size: 16px;
   }
   .search-icon-button{
    background-color:rgb(51, 51, 51);
    height:41px ;
    width: 65px;
    border: none;
    margin-right: 13px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    margin-left: -2px;
   }
   .search-icon{
    padding-top:3px;
    height: 25px;
    width: 25px;
   }
   .voice-search-button{
    background-color: black;
    border-radius: 20px;
    padding-top: 6px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3px;
   }
   .voice-search{
    height: 23px;
    width: 22px;
   }
   .upload{
    height: 25px;
    width: 25px;
    padding-top: 3px;
   }
   .notification{
    height: 22px;
    width: 22px;
    padding-top: 5px;
   }
   .usermain{
    height: 32px;
    width: 32px;
    border-radius: 20px;
   }
