.main-content-container{
    padding-top: 120px;
    padding-left:250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 35px;
    margin: 20px;
    background-color: rgb(22, 22, 22);
}

.video-info-container{
    margin-top: 11px;
    display: flex;
    flex-direction: row;
    column-gap: 13px;
}
.creator-icon-container{
    padding-left: 1px;
}
.creator-icon{
    height: 36px;
    width: 36px;
    border-radius: 20px;
}
.video-thumb{
    height: 167px;
    width: 296px;
    object-fit: cover;
}
.vid-text-container{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.vid-name{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    width: 220px;
    
}
.creator-name-container{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: middle;
}
.creator-name{
    font-size: 12px;
    color: rgb(170,170,170);
}
.vid-stats{
    font-size: 12px;
    color: rgb(170,170,170);
}
.checkmark{
    margin-top: 1px;
    display: flex;
    font-size: 9px;
    color: black;
    background-color: rgb(170,170,170);
    border-radius: 20px;
    width: 12px;
    height: 12px;
    justify-content: center;
}
.thumbnail-container{
    position:relative;
}
.video-duration{
    position:absolute;
    right: 8px;
    bottom: 10px;


    color: white;
    background-color: rgb(57, 57, 57);
    font-size: 13px;
    font-weight: bold;
    
    padding: 2px 3px 1px 5px;
    
    border-radius: 3px;   
}