.info_1{
    display: flex;
    flex-direction: column;
}
.info_r1{
    display: flex;
    flex-direction: row;
    font-size: 11px;
    column-gap: 6px;
    color: #2e51a2;
    padding-top: 8px;
    margin-left: 5px;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #2e51a2;
}
.info_r1 div{
    padding: 3px 3px 2px 3px;
    transition: background-color 0.1s;
}
.r1_head_active{
    background-color: #2e51a2;
    color: white;
}
.r1_head:hover{
    background-color: #2e51a2;
    color: white;
    cursor: pointer;
}

.info_r2{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    margin-left: 5px;
    font-size: 11px;
    column-gap: 5px;
    color: #2e51a2;
}
.info_r2_header:hover{
    text-decoration: underline;
    cursor: pointer;
}
.info_r3_left{
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}
.info_r3{                   
    display: flex;
    flex-direction: row;
    padding-top: 22px;
    padding-left: 5px;
    column-gap: 15px;
}
.r3_scores{
    background-color:rgb(246, 246, 246);
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: rgb(188, 188, 188);
    border-width: 1px;
    box-shadow: inset 1px 1px 1px 0px  rgba(0,0,0,0.02);
    padding-right: 60px;
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    margin: 15px 0px 12px 8px;
    padding-right: 15px;
}
.score_blue{
    background-color: #2e51a2;
    color: white;
    font-size: 9px;
    font-weight: 400;
    width: 60px;
    height: 14px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding-bottom: 1px;
    justify-content: center;
}
.score_blue:hover{
    cursor:default;
}
.score_score{
    font-weight: bold;
    font-size: 21px;
    display: flex;
    padding-top: 5px;  
}
.score_user{
    font-size: 9px;
}
.rank{
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    padding-left: 15px;
    padding-top: 18px;
}
.rank_r1{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}
.rank_r1 div{
    font-size: 15px;
}
.rank_r1 span{
    font-weight: bold;
}
.rank_r2{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.rank_r2 div{
    color: #2e51a2;
    font-size: 10px;
}
.bord:hover{
    text-decoration: underline;
    cursor: pointer;
}
.bord{
    border-right-style: solid;
    border-color: rgb(188, 188, 188);
    border-width: 1px;
    padding-right: 10px;
}
.bored:hover{
    text-decoration: underline;
    cursor: pointer;
}
.info_r3_right img{
    width: 210px;
    height: 143px;
}
.info_r3_right{ 
    position: relative;
    transition: opacity 0.3s;
}
.info_r3_right:hover{
    cursor: pointer;
    opacity: 0.8;
}
.info_r3_right_button{ 
    position: absolute;
    top: 60px;
    left: 72.5px;
}
.info_r3_right_button button{
    border-color: white;
    background-color:rgba(26, 24, 24, 0.6);
    color: white;
    border-radius: 4px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px 3px 6px;
    border-width: 1px;
    font-size: 11px;    
}
.info_r3_right_bottom{
    position: absolute;
    bottom: 3px;
    font-size: 13px;
    padding: 20px 0px 5px 5px;
    font-weight: 400;
    color: white;
    line-height: 15px;
    background-image: linear-gradient(to bottom, rgba(26, 24, 24, 0), black);
    width: 205px;
    text-shadow: 1px 0.5px #000000; 
}
.r3_rate{
    background-color:rgb(246, 246, 246);
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-width: 1px;
    box-shadow: inset 1px 1px 1px 0px  rgba(0,   0,0,0.02);
    font-size: 11px;
}
.r3_rate div{
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    margin: 7px 0px 7px 8px;
    padding: 3px 7px 3px 7px;
}
.bluet1:hover, .bluet2:hover{
    cursor: pointer;
}
.bluet1,.bluet2{
    color: #2e51a2;
}
.bluet1 img{
    padding-left: 10px;
    border-color: #2e51a2;
}
.bluet1 img,.bluet2 img{
    width: 8px;
    height: 10px;
    margin-top: 3px;
}
.bluet2,.bluet3{
    border-color: rgb(188, 188, 188);
}
.bluet3 span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    padding-left: 8px;
}
.bluet3 img{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin-left: 4px;
}
.bluet3:hover img{
    cursor: pointer;
}
.listpublic{
    padding-left: 4px;
    padding-top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    color: #b25959;
}
.listpublic span{
    color: #2e51a2;
    font-size: 11px;
}
.listpublic:hover span{
    cursor: pointer;
    text-decoration: underline;
}