.info_2{
    display: flex;
    flex-direction: column;
    padding-top:25px;
    margin-left: 6px;
}
.info2_r1{
    margin-bottom: 20px;
}
.info2_head{
    font-weight: 700;
    font-size: 12px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    padding-bottom: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info2_edit{
    color:#1c439b ;
    font-weight: 400;
    font-size: 11px;
}
.info2_edit:hover{
    text-decoration: underline;
    cursor: pointer;
}
.info2_text,.info2_t {
    padding-top: 6px;
    display: inline-block;
    color: black;
    font-size: 11px;
    
}
.info2_r2 .info2_text{     /* .info2_t is of info2_r4*/
    padding-bottom: 15px;
}

.info2_r2 {
    border-bottom-style: solid;
    border-width: 1px;
    border-color:rgb(224, 224, 224);
    margin-bottom: 55px;
}
.malxjapan_content{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    font-size: 11px;
    color: #1c439b;
    font-weight: 700;
    max-width: 235px ;
    line-height: 17px;
    margin-bottom: 50px;
    
}
.malxjapan_content_container img{
    padding-top: 5px;
    width:235px ;
    height: 146px;
    object-fit: cover;
}
.malxjapan_content_container{
    transition: opacity 0.1s, text-decoration 0.1s;
}
.malxjapan_content_container:hover{
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.8;
}
.info2_r4{
    display: flex;
    flex-direction: column;
}

.info2_t{
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(224, 224, 224);
    padding-bottom: 3px;
}
.info2_r4_t1{
    display: flex;   
    width: 120px;
    justify-content: right;    
}
.info2_r4_t2,.info2_r4_t3{
    color: #1c439b;
}
.info2_r4_t2:hover,.info2_r4_t3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.song{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-left: 5px;
    padding-top: 35px;
}
.song_rows{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 390px;
}
.song_r,.song_r_internal{
    display: flex;
    flex-direction: row;
    font-size: 11px;
    align-items: center;
    justify-content: space-between;
    padding-left: 2px;
    column-gap: 7px;
}
.song_r_internal{
    justify-content: left;
}
.song_r img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 10px;
}