.news,.articles{
    
    padding-top: 30px;
    padding-left: 5px;
    font-size: 11px;
}
.news_body{
    padding-left: 6px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    border-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(212, 212, 212);
    padding-bottom: 7px;
}
.news_right{
    display: flex;
    flex-direction:column;
    row-gap: 7px;
}
.news_right_r1{
    font-size: 12px;
    font-weight: 700;
    color: #1c439b;
}
.news_right_r2{
    line-height: 17px;
}
.news_right_r2 span,.news_right_r3 span{
    color: #1c439b;
}
.news_right_r1:hover,.news_r3_blue:hover{
    text-decoration: underline;
    cursor: pointer;
}
.news_right_r3{
    display: flex;
    flex-direction: row;
}
.news_date{
    color:rgb(139, 139, 139) ;
}


