.review{
    margin-left:5px;
    padding-top: 50px;
}
.rev_r{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    column-gap: 7px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
}
.rev_r_icon img{
    width:50px;
    height: 50px;
    object-fit: cover;

}
.rev_r_right{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.rev_r_r1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
}
.rev_r_n{
    color:#2e51a2 ;
    font-weight: 700;
}
.rev_r_n:hover{
    text-decoration: underline;
    cursor: pointer;
}
.rev_r_d{
    font-size: 12px;
    color:rgb(123, 123, 123) ;
}
.rev_r_r2 img{
    height: 15px;
    width: 120px;
    object-fit: cover;
}
.rev_r_r2:hover img{
    cursor: pointer;
}
.rev_r_r3{
    font-size: 11px;
}
.rev_r_r4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rev_r_r4_left{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    color: rgb(123, 123, 123);
    font-size: 11px;
    align-items: center;
    padding-left: 10px;
    
}
.rev_r_r4_left img{
    width: 16px;
    height: 16px;
}

.rev_r_r4_1{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
}
.rev_number:hover, .rev_r_r4_1:hover div, .rev_r_r4_right:hover img{
    color: #2e51a2;
    cursor: pointer;
}
.rev_r_r4_right img{
    width: 24px;
    height: 10px;
}

