
.sidebar{
    width: 245px;
    margin-top: 4px;
    
    background-color:white;
    display: flex;
    flex-direction: column;
    left: 0;
    
    padding-top: 5px;
    padding-right: 4px;
    padding-left: 15px;
    border-right-style: solid;
    border-left-style: solid;
    
    border-width: 1px;
    border-color: rgb(228, 228, 228);
}
.coverart{
    width: 245px;
    height: 353px;
    object-fit: cover;
    
}
.coverart:hover{
    cursor: pointer;
}
.coverart:hover .pinterest{    /*check this. file not visible on hover*/
    visibility: visible;
}

.pinterest img{
    
    width: 45px;
    height: 17px;
    border-radius: 3px;
}
.coverthumb_thumbnail{
    position: relative;
}
.pinterest{
    visibility: hidden;     /*check this*/
    position: absolute;
    top: 137px;
    left: 50px;
}
.sidebar_r1{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding-top: 7px;
    
}
.sidebar_r1 div{
    border-bottom-style: solid;
    border-width: 1px;
    border-color:  rgb(25, 156, 200);
    padding-bottom: 5px;
    padding-left: 3px;
    padding-top: 5px;
    color:  #1c439b;
    
}
.content:hover{
    background-color: #1c439b;
    color: white;
    cursor: pointer;
}
.sidebar_r2{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    column-gap: 15px;
}
.sidebar_r2 img{
    width: 35px;
    height: 35px;
    border-radius: 2px;
    transition: opacity 0.3s;
}
.sidebar_r2_img:hover{
    opacity: 0.5;
    cursor: pointer;
}
.sidebar_r3{
    padding-top: 30px;
}
.header{
    font-size: 13px;
    font-weight: 700;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(188, 188, 188);
    padding-bottom: 5px;
}
.row_body{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    row-gap: 10px;
    padding-bottom:20px ;
}
.row_body span{
    font-weight: 700;
    color: black;
}
.bluec{
    color:#1c439b;
}
.bluec p{
    display: inline-block;
}
.punderline:hover{
    cursor: pointer;
    text-decoration: underline;
}
.sidebar_r6 p{
    display: inline-block;
    font-size: 12px;
    color: #1c439b;
}

