*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.calculator{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}
.calculator-container{
   display: flex;
   flex-direction: column;
   border-style: solid;
   border-width: 1px;
   border-color: gray;
   width: fit-content;
   height: fit-content;
   padding: 32px 27px;
   border-radius: 6px;
}
.calc-button-container{
    display: grid;
    grid-template-columns:repeat(4,60px);
}
.calc-display{
    text-align: right;
    font-size: 28px;
    width: 233px;
    height: 48px;
    margin-bottom: 15px;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 3px;
    caret-color: crimson;
    padding:0 2px 0 2px;
}
.calc-display:focus{
    outline: none;
}
.calc-button{
    width: 99%;
    height: 40px;
    margin-bottom: 1px;
    /*debug the spacing between rows*/
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}