*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.calculator-container{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.calc-button-container{
    display: grid;
    grid-template-columns:repeat(4,60px);
}
.calc-display{
    text-align: right;
    width: 236px;
    height: 40px;
    margin-bottom: 10px;
}
.calc-button{
    width: 99%;
    height: 40px;
    margin-bottom: 1px;
    /*debug the spacing between rows*/
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}