*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
/*******************BACKGROUND CSS*****************************/
.background{
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.wavy{                 
    width: 100%;
    height: 100%;

    overflow: auto;
    background: linear-gradient(315deg, rgb(168, 12, 157) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgb(71, 214, 66) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}          
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}         
.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}          
.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}          
.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}           
@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
/********************BACKGROUND CSS****************************/
.calculator{
    display: flex;
    justify-content: center; 
    position: relative;
    align-items: center; 
    height: 100vh;
    z-index: 100;
    margin: fit-content;
}
.calculator-container{
   display: flex;
   flex-direction: column;
   border-style:none;
   width: fit-content;
   height: fit-content;
   padding: 32px 27px;
   border-radius: 6px;
   background-color: rgba(255, 255, 255, 0.15);
}
.calc-button-container{
    display: grid;
    row-gap: 1px;
    grid-template-columns:repeat(4,80px);
}
.calc-display{
    text-align: right;
    font-size: 35px;
    width: 315px;
    height: 65px;
    margin-bottom: 15px;
    border-radius: 0;
    border-style: none;
    border-radius: 3px;
    caret-color: crimson;
    padding:0 2px 0 2px;
    background-color: rgba(255, 255, 255,0.4);
}
.calc-display:focus{
    outline: none;
}
.calc-button{
    width: 99%;
    height: 60px;
    background-color:inherit;
    font-size: 28px;
    /*debug the spacing between rows*/
    border-style: none;
}
.calc-button:hover{
    background-color:rgba(240, 248, 255,0.5);
}
.del-but:hover{
    background-color: rgba(222, 53, 106,0.9);
}
.solve-but{
    background-color: rgba(200, 255, 212,0.7);
}
.solve-but:hover{
    background-color: rgba(200, 255, 212,1);
}
.op-but:hover{
    background-color:rgba(240, 248, 255,0.7);
}
