body{
    margin: 0;
    padding: 0;
    background-image: url('background-crew-desktop.jpg');
    background-size:cover;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    overflow: hidden;
  }
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:25px 0 0 50px;
    position: relative;
  }
  .header-left{
    padding: 20px;
  }
  .header-mid{
    position: absolute;
    left: 130px;
    border-width: 1px;
    border-style: solid;
    width: 520px;
    mix-blend-mode: normal;
    opacity: 0.25;
  }
  .header-right{
    letter-spacing: 2.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3rem;
    font-size: 19px;
    
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(30.7742px);
    height: 86px;
    padding:0 165px 0px 123px;
  }
  .header-right >div{
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  
  .header-right > div:hover{
    border-bottom-style: solid;
    border-width: 2px;
    margin-top: 2px;
    border-color: rgba(255, 255, 255,0.5);
    cursor: pointer;
  }
  .active{
    border-color: rgba(255, 255, 255, 1);   /*overwrite done here*/
    pointer-events: none;                   /*dangerous property. find some other way*/
    border-bottom-style: solid;
    border-width: 2px;
    margin-top: 2px;
  }
  .home-body{
    display: flex;
    flex-direction: row;
    margin: 50px 0 0px 220px;
    position: relative;
    column-gap: 180px;
  }
  .body-left{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    position: relative;
  }
  .body-left-header{
    color:  #D0D6F9;
    font-size: 24px;
    letter-spacing: 4.72px;
    margin-left: -30px;
  }
  .body-left-header span{
    opacity: 0.35;
    mix-blend-mode: normal;
  }
  .body-left-top{
    font-family: 'Bellefair', serif;
    font-size: 32px;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 6rem;
  }
  .body-left-mid{
    font-family: 'Bellefair', serif;
    font-size: 56px;
    color: white;
    margin: 15px 0 20px 0;
  }
  .body-left-last{
    line-height: 32px;
    font-family: 'Barlow', sans-serif;
    color: #d0d6d0;
    font-size: 18px;
    width: 500px;
  }
  .body-left div:not(:first-child){
    margin-left: -32px;
  }
  .body-left-scroll{
    display: flex;
    flex-direction: row;
    position: absolute;
    column-gap: 50px;
    bottom: -6rem;
  }
  .body-left-scroll div{
    width: 15px;
    height: 15px;
    mix-blend-mode: normal;
    border-radius: 100%;
    background-color: white;
    transition: all 0.3s;
  }
  .body-left-scroll div:not(.scroll-active){    /*magic LMAO*/
    opacity: 0.2;
  }
  .scroll-active{
    opacity: 1;
    pointer-events: none;
  }
  .body-left-scroll div:hover{
    opacity: 0.6;
    cursor: pointer;
  }
  .body-right{
    position: relative;
  }
  .body-right img{
    height: 135%;
    position: absolute;
    bottom: -10.6rem;
    left: 1rem;
  }