.bottom-section{
    background-color: #11161D;
    width: 100%;
}
.bottom-body{
    display: flex;
    flex-direction: row;
    column-gap: 15%;
    justify-content: center;
    padding: 50px 30px;
}
.bottom-body-left{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.bottom-body-left-r1{
    color: #3db4f2;
    font-size: 16px;
    font-weight: 500;
}
.bottom-body-left-r2{
    display: grid;
    grid-template-columns: repeat(4,25px);
    column-gap: 15px;
    
}
.bottom-body-left-c1,.bottom-body-left-c2,.bottom-body-left-c3,.bottom-body-left-c4{
    height: 26px;
    width: 26px;
    background-color: white;
    border-width: 2px;
    border-color: #8796a6;
    border-style: solid;
    border-radius: 2px;
    position: relative;
}
:where(.bottom-body-left-c1,.bottom-body-left-c2,.bottom-body-left-c3,.bottom-body-left-c4):hover {
    cursor: pointer;
}
.bottom-body-left-hover{
    position: absolute;
    top: -45px;
    left: -3px;
    color: #fbfbfb;
    font-size: 12px;
    font-weight: 500;
    display: none;
    justify-content: center;
    align-items: center;
    width: fit-content;
    
    background-color: #30373c;
    padding: 10px 7px;
    border-radius: 4px;
    white-space:nowrap;
}
:where(.bottom-body-left-c1,.bottom-body-left-c2,.bottom-body-left-c3,.bottom-body-left-c4):hover .bottom-body-left-hover{
    
    display: flex;
}
.bottom-body-left-text{
    
    position:absolute;
    left: 2px;
    bottom: -1px;
    font-size: 14px;
}
.bottom-body-left-c1{
    background-color: #edf1f5;
    color: #2e3c48;
}
.bottom-body-left-c2{
    background-color: #11161D;
    color: #a0b1c5;
}
.bottom-body-left-c3{
    color: #000000;
    background-color: #ffffff;
}
.bottom-body-left-c4{
    background-color: #11161D;
    color: #a0b1c5;
}
.bottom-body-left-top{
    height: 0;
    width: 0;
    border-top: 23px solid #fbfbfb;
    border-left: 24px solid transparent;
    position: absolute;
    top: -1px;
    left: -1px;
}


.bottom-body-right{
    display: grid;
    grid-template-columns: repeat(4,178px);
}
.bottom-body-right-c{
    display: flex;
    flex-direction: column;
}
.bottom-body-right-element{
    color: #a0b1c5;
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
    transition: color 0.13s;
}
.bottom-body-right-element:hover{
    color:#1fb2fb;
    cursor: pointer;
}