.bottom-section{
    background-color: #11161D;
    width: 100%;
}
.bottom-body{
    display: flex;
    flex-direction: row;
    column-gap: 15%;
    justify-content: center;
    padding: 50px 30px;
}
.bottom-body-left{
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}
.bottom-body-left-r1{
    color: #3db4f2;
    font-size: 16px;
    font-weight: 500;
}
.bottom-body-left-r2{
    display: grid;
    grid-template-columns: repeat(4,25px);
    column-gap: 15px;
    
}
.bottom-body-left-c1,.bottom-body-left-c2,.bottom-body-left-c3,.bottom-body-left-c4{
    height: 22px;
    width: 22px;
    background-color: white;
    border-width: 2px;
    border-color: #8796a6;
    border-style: solid;
    border-radius: 2px;
}
.bottom-body-left-text{
    color: #a0b1c5;
}

.bottom-body-right{
    display: grid;
    grid-template-columns: repeat(4,178px);
}
.bottom-body-right-c{
    display: flex;
    flex-direction: column;
}
.bottom-body-right-element{
    color: #a0b1c5;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
}