.mainbody{
    background-color: #e4eaf1;
    width: 100%;
    
    margin-top: -139px;
    display: flex;
    flex-direction: row;
    column-gap:40px;
    justify-content: center
}
.heading{
    color: #26343F;
    font-size: 12px;
    font-weight: 500;
}
.mainbody-c1-r1,.mainbody-c1-r2{
    background-color: #fbfbfb;
    padding: 8px 12px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.mainbody-c1-r3{
    display: grid;
    grid-template-columns: 200px;
    row-gap: 10px;
    background-color: #fbfbfb;
    margin-top: 16px;
    padding: 18px;
    padding-bottom: 30px;
    border-radius: 2px;
}

.mainbody-c1-r3-heading{
    font-size: 13px;
    color: #26343F;
    font-weight: 500;
}
.mainbody-c1-r3-content{
    color: #516170;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    width: fit-content;
}
.mainbody-c1-r3-r{
    line-height: 22px;
}
#blue{
    transition: color 0.13s;
}
#blue:hover{
    color:#12acfd;
    cursor: pointer;
}
.mainbody-c1-r4-heading,.mainbody-c1-r5-heading{
    font-size: 14px;
    color: #26343F;
    font-weight: 500;
    padding: 20px 0 15px 0px;
}
.mainbody-c1-r4{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.mainbody-c1-r4-r{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fbfbfb;
    align-items: center;
    padding: 5px 8px 5px 10px;
    border-radius: 2px;
}
.mainbody-c1-r4-r-left{
    font-size: 13px;
    color: #26343f;
}
.mainbody-c1-r4-r-right{
    font-size: 12px;
    color: #516170;
}
.mainbody-c1-r4-bottom button{
    color: #26343F;
    font-size: 12px;
    border: none;
    background-color: rgb(228, 234, 241) ;
    padding: 0;
    
    transition: color 0.13s;
}
.mainbody-c1-r4-bottom:hover button{
    color: #ec294b;
    cursor: pointer;
    
}
#spoiler{
    color: #ec294b;
    font-weight: 500;
}
.mainbody-c1-r5{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.mainbody-c1-r5-r1,.mainbody-c1-r5-r2,.mainbody-c1-r5-r3{
    display: flex;
    flex-direction: row;
    background-color: #fbfbfb;
    display: flex;
    border-radius: 6px;
    
}
.mainbody-c1-r5-r-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainbody-c1-r5-r-left img{
    height: 24px;
    width: 24px;
    object-fit: contain;
    border-radius: 7px;
    padding: 3px;
    
}
.mainbody-c1-r5-r-right{
    font-size: 13px;
    font-weight: 500;
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.mainbody-c1-r5-r1,.mainbody-c1-r5-r2,.mainbody-c1-r5-r3{
    transition:background-color 0.14s;
}
.mainbody-c1-r5-r1:hover{
    color: #119bf0;
    cursor: pointer;
}
.mainbody-c1-r5-r2:hover{
    background-color: #38aaf0;
    color: white;
    cursor: pointer;
}
.mainbody-c1-r5-r3:hover{
    background-color: #ffac2f;
    color: white;
    cursor: pointer;
}
/*Column 2*/

.mainbody-c2{
    margin-top: 47PX;
}
.mainbody-c2-relation{
    
}
.mainbody-rel-heading{
    font-size: 14px;
    color: #26343f;
    font-weight: 500;
}
.mainbody-rel-body{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-top: 11px;
}
.mainbody-rel-thumb{
    position:relative;
}
.rel-thumb-container{
    position: relative;
}
.rel-thumb{
    height: 115px;
    width: 85px;
    object-fit: cover;
    border-radius: 4px;
}
.rel-thumb-footer{
    position: absolute;
    bottom:4px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #edf1f5e8;
    font-weight: 500;
    font-size: 12px;
    background-color: #1f2631b3;

    transition: opacity 0.4s;
}
.rel-thumb-expansion{
    display: none;
    flex-direction: column;
    background-color:rgb(248, 248, 248) ;
    position: absolute;
    top:0;
    left: 85px;
    width: 225px;
    height: 116px;
    z-index: 100;
    padding-left: 12px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;    
}
.rel-thumb-container:hover .rel-thumb{
    cursor: pointer;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.rel-thumb-container:hover .rel-thumb-expansion,.rel-thumb-container:hover .rel-thumb-expansion-bottom{
    display: flex;
}
.rel-thumb-container:hover .rel-thumb-footer{
    opacity: 0; 
    cursor: pointer;
    
}
.rel-thumb-expansion:hover{
    cursor:default;
    display: none;
}
.rel-thumb-expansion-r1 span{
    color: #12acfd;
    font-weight: 500;
    font-size: 13px;
    
}
.rel-thumb-expansion-r1{
    font-size: 13px;
    color: #26343F;
    margin-top: 8px;
    line-height: 22px;
}
.rel-thumb-expansion-r2{
    font-size: 12px;
    color: #516170;
    margin-top: 40px;
}
.rel-thumb-expansion-bottom{
    display: none;
    flex-direction: column;
    
    background-color:rgb(248, 248, 248) ;
    position: absolute;
    top:0;
    right: 85px;
    width: 220px;
    height: 116px;
    
    z-index: 100;
    padding-right: 12px;
    
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;    
}
#bottom{
    display: flex;
    justify-content: right;
    line-height: 18px;
}
